.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: beige;
}

.formGroup {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.formGroup:first-child {
}
